<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<canvas id="my-chart"></canvas>

<div>
<label for="From">From</label> 
<input type="date" id="inputFrom" value="2021-10-27">

<label for="To">To</label>
<input type="date" id="inputTo" value="2021-11-26">

</div>