<h1>Filters</h1>

<div id="top">
         <label for="from">From</label>
         <input type="date" name="from" id="startDate" value="2021/11/29">
         <label for="to">To</label>
         <input type="date" name="to" id="endDate" value="2021/12/31">
</div>

<canvas id="my-chart"></canvas>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

