<!DOCTYPE html>
<html lang="en">

   <head>
      <!--Axios added-->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- ChartJS added-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      {{{body}}}
      <canvas id="my-chart" width= "400" height= "400"></canvas>

      <script src="/js/script.js"></script>
      <script src="/js/financial-data.js" charset="utf-8"></script>
   </body>

</html>
