<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <section>
         
         <div class="left">
            <h1>Filters</h1>
            <div class="fromTo">
               <div class="from">From: <input type="date"/></div>
               <div class="to">To: <input type="date"/></div>
            </div>
            <div>
               <div class="currency">Currency <input type="text"/></div>
            </div>
         </div>

         <div class="right">
            <h1 class="rightTitle">Values</h1>
            <div class="values">
               <div class="max">Max: <input type="text"/></div>
               <div class="min">Min: <input type="text"/></div>
            </div>
         </div>

      </section>
      



      



      <canvas id="my-chart"></canvas>

      {{{body}}}

      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="/js/script.js"></script>
      <script src="/js/financial-data.js" charset="utf-8"></script>

   </body>

</html>