<h2>
    Filters
</h2>

<label for="startDate">From <input type='date' name='startDate' id="startDate" value="2021-01-01"></label>
<label for="endDate">To <input type='date' name='endDate' id="endDate" value="2021-11-27"></label>

<canvas id="lineChart" width="200" height="200"></canvas>
